# Engedélyezzük a mod_rewrite használatát
RewriteEngine On

# Külön kezeljük a robots.txt-t
RewriteCond %{REQUEST_URI} !^/robots\.txt$ [NC]

# Ha az URL nem végződik már .html-lel, akkor a .html fájlt keressük belső átirányítással
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]
