/*--------------------------------*\
* LAYOUT 

*Container............overall layout of the page
*
*Main.................over layout of the content
*
\*--------------------------------*/


/*--------------------------------*\
* OVERALL LAYOUT OF THE PAGE
\*--------------------------------*/

.my-container {
    display:        flex;
    flex-flow:      column nowrap;
    align-items:    center;
    min-height:     100vh;
    width:          100%;
    position:       relative;
}
  
  
  
  
  
  /*--------------------------------*\
  * CONTENT LAYOUT
  \*--------------------------------*/

  main {
    display:         flex;
    flex-flow:       column nowrap;      
    justify-content: flex-start;
    align-items:     center;
    flex-grow:       1;
    width:           100%;
    margin-top:      var(--header-height);
    gap:             5rem;
    max-width:       1440px;
    margin-bottom:   4.25rem;
  }

  section {
    display:         flex;
    flex-flow:       column nowrap;
    justify-content: flex-start;
    align-items:     center;
    gap:             2rem;
    width:           100%;
   
    
  }

@media(min-width: 768px) {
  main {
    gap: 9.5rem;
  }
  section {
    gap: 4rem;
  }
  
}

  


 